/*
    The Great Race
    CIS 370
    Christian Bodine
    index.css
*/

body {
  background-image: url("cartoon_road.png");
}

#blue {
  position: absolute;
}

#blueImg, #greenImg {
  width: 200px;
  height: auto;
}

#greenWinsImg, #blueWinsImg {
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#green {
  position: absolute;
}

#startButton {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

#startButtonBW {
    max-height: 150px;
}
