/*

    The Great Race
    CIS 340
    Christian Bodine
    index.css
*/

body {
  background-image: url("horizontal_highway.jpg");
  width: auto;
  height: auto;
}

#kirby {
  position: absolute;
}

#kirbyImg, #poppyImg, #kirbyWinsImg{
  width: auto;
  height: auto;
}
#poppyWinsImg{
  width: auto;
  height: auto;
}

#poppy {
  position: absolute;
  top: auto;
}
#startButton{
  margin: 25px;
}
#startButtonGo{
  margin: 25px;
}
