/*
    The Great Race
    CIS 370
    Christian Bodine
    index.css
*/

body {
  background-image: url("background.jpg");
}

#kirby {
  position: absolute;
}

#kirbyImg, #poppyImg, #kirbyWinsImg{
  width: 200px;
  height: auto;
}
#poppyWinsImg{
  width: 300px;
  height: auto;
}

#poppy {
  position: absolute;
  top: 400px;
}
#startButton{
    max-width: 25px;
    max-height: 25px;
}
#startButtonBW{
    max-width: 25px;
    max-height: 25px;
}
